/*.shadow {
	-moz-box-shadow: 3px 3px 14px #aaa;
	-webkit-box-shadow: 3px 3px 14px #aaa;
	box-shadow: 3px 3px 14px #aaa;

	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color='#aaaaaa')";

	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color='#aaaaaa');
}
*/
.transparent_70 {
        filter:alpha(opacity=70);
        -moz-opacity:0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
}
.inputURL {
        color: #781351;
        background: #eeeeee;
        border: 1px solid #AAAAAA;
        font-family: helvetica;
        font-size: 12;
        height: 20px;
	    width: 300px;
        position: absolute;
        bottom: 1;
        left: auto;
        right: 1px;
}
.floatingDiv {
        background: #000000;
        font-family: helvetica;
        color: 999999;
        height: 22px;
        width: 100%;
        position: fixed;
        left: 15px;
	    right: 15px;
        bottom: 0px;
}        
.floatingStar {
        font-family: helvetica;
        color: 999999;
        height: 22px;
        width: 50px;
        position: fixed;
        left: 30px;
}        

/* input {
          color: #FFFFFF;
          background: #5cadff;
          border: 5px solid #5cadff;
          font-family: helvetica;
          font-size: 20;
} */

.BodyText {
          font-family: helvetica;
          font-size: 25;
          color: #777777;
          text-align: left;
          margin-top: 15px;
}
.save_query {
          color: #fffff;
          background: #3366CC;
          border: 1px solid black;
          margin-bottom: 15px;
          background: #FF5C33;
          //border: 5px solid #FF5C33;
          font-family: helvetica;
          //font-size: 20;
	   
}
.EmptyResultsText {
          background-color: FFFFCC;
	  font-family: helvetica;
          font-size: 12pt;
          color: #777777;
          text-align: left;
          margin-top: 0px;
	  border-color: FFFFFF;
	  border-style: solid;
	  border-width: 1px;
          margin-bottom: 0px;
	  margin-left: 0px;
	  padding: 10px;
	  z-index:1;
	  position:relative;
}
.ResultsText {
	  z-index:1;
	  position:relative;
          font-family: helvetica;
          font-size: 12pt;
          color: #777777;
          text-align: left;
          margin-top: 0px;
	  border-color: FFFFFF;
	  border-style: solid;
	  border-width: 1px;
          margin-bottom: 0px;
	  margin-left: 0%;
	  padding: 10px;
}
.ResultsText A:link {text-decoration: none;color: #666666;}
.ResultsText A:visited {text-decoration: none;color: #aaaaaa;}
.ResultsText A:active {text-decoration: none;color: #aaaaaa;}
.ResultsText A:hover {text-decoration: none;color: #3399ff;}
.headline {
          font-family: times, Times New Roman, times-roman, georgia, serif;
	  color: #5cadff;
	  padding: 0px 0px 6px 0px;
	  font-size: 51px;
	  line-height: 44px;
	  letter-spacing: -2px;
	  font-weight: bold;
}
P.blocktext {
          font-family: times, Times New Roman, times-roman, georgia, serif;
	  font-size: 18px;
	  text-align: justify;
	  text-justify: newspaper;
          letter-spacing: 1px;margin-top: .5em; color: #666;
          margin-left: auto;
          margin-right: auto;
          width: 600;
          line-height: 150%;
}
.HeaderText {
      font-family: times, Times New Roman, times-roman, georgia, serif;
      font-style: italic;
      font-size:50;
      color: 333333;
      text-align:left;
      margin-top:30px;
      margin-right: 0;
      position:relative;
      z-index:1;
      width:950;
    //  padding: 10px;
      
}

.LogoText { margin-top: 15px; }
.Footer {
          font-family: times, Times New Roman, times-roman, georgia, serif;
	  font-size: 40;
	  color: 333333;
	  padding: 10px;
	  margin-right: 0;
          font-style: italic;
          font-style: italic;
          margin-top: 100px;
          font-color: '#aaaaaa';
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
}
.footer-spacer { height:100px; }
A:link {text-decoration: none;color: #AAAAAA;}
A:visited {text-decoration: none;color: #AAAAAA;}
A:active {text-decoration: none;color: #AAAAAA;}
A:hover {text-decoration: none;color: #3399ff;}

.formElement {
          color: #777777;
          background: #DDDDDD;
          border: 5px solid #DDDDDD;
          font-family: helvetica;
          font-size: 20;
          margin-left: auto;
          margin-right: auto;
          width: 600;
}