<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A reader with bayesian filter for Hacker News">
    <meta name="author" content="Roger Cosseboom and Matt Barackman">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.7.1.min.js"></script> 
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Bayesian HN Reader</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="mailto:roger.cosseboom@gmail.com">Contact</a></li>
							{% if user %}
								<li><a href="{{logout_url}}">Log Out</a></li>
								<li><a href="/scrape">Scrape</a></li>
							{% else %}
								<li><a href="{{logout_url}}">Log In</a></li>
							{% endif %}
							
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Welcome to the smart HN reader!</h1>
			<p> Hacker News has great content, but it's all to easy to burn through more time than you'd like reading articles you don't really care that much about. We're hoping to make our consumption of HN more streamlined and efficient, with a content filtering tailored to our specific interests. Our filter uses a simple upvote/downvote system and a Bayesian algorithm. </p>  
		</br>
			<h3> Relevant Results: </h3>		
		</div>
		<div class="container" style="padding-left: 25px">	
			</br>
			{% if posts.0 %}	
					{% for post in posts %}	
							<div id="{{post}}" class="row" style="border-bottom-color: #FFFFFF;border-bottom-style: solid;border-bottom-width: 1px;padding: 20px;background-color: {% cycle #DDD,#EEE %}">
				        <div class="row">  
									<div class="span12">
											<span id="upvote{{post}}"><i class="icon-arrow-up"></i></span>
											<a href="/vote?key={{ post.key }}"><i class="icon-arrow-down"></i></a>
											<a href="{{post.url}}" style="margin-left: 5px; font-size: 20px; font-weight: 200"> {{post.title}} </a>
										</div>
								</div>
								<div class="row">
										<div class="span12" style="margin-left: 61px; color: grey">
											<b> <a href=http://{{post.domain}} style="color: grey"> {{post.domain}} </a>	</b>
											| {{post.points}} points by {{post.username}} | 
										<a href="http://news.ycombinator.com/item?id={{post.hn_id}}" style="color: grey">{{post.commentcount}} comments </a> 
										</div>
								</div>
							</div>
							<script>
							$("upvote{{post}}").click(function() {
							  $('{{post}}').fadeOut('slow', function() {
							  });
							});
							</script>
					{% endfor %}
			{% endif %}
			
		</div> <!-- /container -->
	    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
